*.id0
*.id1
*.id2
*.nam
*.til
*.i64
.git.bfg-report/2018-08-31/00-46-57/cache-stats.txt
.git.bfg-report/2018-08-31/00-46-57/deleted-files.txt
.git.bfg-report/2018-08-31/00-46-57/object-id-map.old-new.txt
.git.bfg-report/2018-08-31/00-50-01/cache-stats.txt
.git.bfg-report/2018-08-31/00-50-01/deleted-files.txt
.git.bfg-report/2018-08-31/00-50-01/object-id-map.old-new.txt
bfg-1.13.0.jar
decryptedgarageband/MobileGarageBand
